{
  "tabWidth": 4,
  "printWidth": 120,
  "useTabs": false,
  "overrides": [
    {
      "files": ["{*,.*}.{json,md}", ".eslintrc", ".prettierrc"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
